<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="/assets/images/logo.png" alt="LOGO" height="20" width="30">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="https://github.com/patelvaibhavd/angular-seach-input-poc" target="_blank"><img
                        src="/assets/images/github-mark.png" alt="GITHUB" width="18" height="18"></a>
                </div>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>